{% include "web/main.html" %}

<body>
<div id="page-wrapper">
    <div class="row">
        <div id="container1" ></div>
        <div id="container2" ></div>
        <script>

        var options1 = {
            chart: {
                type: 'spline'
            },
            title: {
                text: '7日访问IP统计'
            },

            xAxis: {
                type: 'linear',
                categories: {{ history_x_Seven |safe}}
            },
            yAxis: {
                title: {
                    text: 'IP数量'
                },
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null
            },
            tooltip:{
                shared :true
            },
            series: {{ data_Seven |safe }}
        };
        var options2 = {
            chart: {
                type: 'spline'
            },
            title: {
                text: '历史访问IP统计'
            },

            xAxis: {
                type: 'linear',
                categories: {{ history_x_all |safe}}
            },
            yAxis: {
                title: {
                    text: 'IP数量'
                },
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null
            },
            tooltip:{
                shared :true
            },
            series: {{ data |safe }}
        };
        var chart1 = Highcharts.chart('container1', options1);
        var chart2 = Highcharts.chart('container2', options2);
        </script>
    </div>
</div>
</body>
